* {
  border-radius: 0 !important;
}

body {
  padding-top: 10px;
  background-image: url("../images/metal.png");
  font-size: 14px;
  font-family: 'Share Tech Mono', monospace;
  color: #000;
  text-align: center;
}

h2 {
  font-size: 18px;
  margin: 4px 0px 0px 0px;
  padding: 0px 2px 0px 2px;
  border-bottom: solid #cccccc 2px;
  padding-bottom: 4px;
}

h3 {
  font-size: 12px;
  text-align: center;
  margin: 0px 0px 4px 0px;
}

p {
  font-size: 20px;
  text-align: left;
  margin: 0px;
}

.auto-margin {
  margin-bottom: 10px;
  width: 600px;
}

.internal-box {
  border: solid #cccccc 2px;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
  padding: 0px;
}

.banner {
  height: 120px;
}

.banner-top-img {
  float: left;
  height: 60px;
  width: auto;
}

.banner-bottom-img {
  float: right;
  height: 60px;
  width: auto;
}

.loss {
  display: flex;
  flex-direction: row;
}

.progress {
  margin: 0;
  flex: 1;
}

.loss-icon {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.solv {
  display: flex;
  flex-direction: row;
}

.solv-arena {
  position: relative;
  height: 236px;
  width: 404px;
  margin-right: 10px;
  background-image: url("../images/schrodingers-cat.png");
  background-size: 400px 232px;
}

.radiate-animate {
  animation:radiate 0.5s infinite alternate;
  animation-iteration-count: 10;
}

.solv-arena-mode {
  position: absolute;
  top: 3px;
  left: 10px;
  z-index: 6;
}

.solv-arena-cover {
  position: relative;
  visibility: hidden;
  overflow: hidden;
  z-index: 5;
}

.cover-box {
  position: relative;
  max-width: 400px; 
  visibility: hidden;
  overflow: hidden;
  position: relative;
}

.cover-animate {
  height: 232px;
  visibility: visible;
  animation: close-cover 2s;
  -webkit-animation: close-cover 2s;
  -moz-animation: close-cover 2s;
}

.open-animate {
  height: 0;
  animation: open-cover 2s;
  -webkit-animation: open-cover 2s;
  -moz-animation: open-cover 2s;
}

.arena-cover-img {
  width: 400px;
  height: 232px;
}

.arena-cover-info {
  position: absolute;
  top: 0;
  z-index: 4;
  width: 404px;
  height: 236px;
  font-weight: bold;
  text-shadow: 0px 0px 1px #fff;
}

.cover-info-text1 {
  text-align: center;
  padding-top: 20px;
}

.cover-info-text2 {
  text-align: center;
  padding-top: 5px;
}

.cover-info-text3 {
  position: relative;
  bottom: 65px;
  font-size: 18px;
}

.solv-arena-result {
  position: absolute;
  top: 0;
  visibility: hidden;
}

.arena-result-info {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 404px;
  height: 236px;
  font-weight: bold;
}

.result-info-text {
  text-align: center;
  padding-top: 5px;
  font-size: 30px;
  color: #7FFF00;
  text-shadow: 2px 2px 2px #000000;
}

.result-info-btn {
  position: relative;
  top: 140px;
  text-align: center;
  font-size: 18px;
  text-shadow: 0px 0px 1px #fff;
}

.solv-list {
  height: 236px;
  width: 186px;
}

.solv-list-items {
  overflow-y: scroll;
  height: 202px;
}

.list-group-item {
  padding: 3px 2px 3px 2px;
  text-align: left;
  font-size: 14px
}

.lett-gauge {
  font-weight: bold;
  font-size: 18px;
  color: #000;
  position: relative;
  background: #FFCC00;
}

.lett-pick {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 600px;
}

.alphabet {
  padding: 0px 6px 0px 6px;
  transition: all .2s ease-in-out;
  color: #000;
  z-index: 2;
  cursor: pointer; 
  cursor: hand;
}

.alphabet:hover {
  transform: scale(1.5) translateY(-5px);
  -webkit-transform: scale(1.5) translateY(-5px);
  -moz-transform: scale(1.5) translateY(-5px);
  background-color: white;
  z-index: 10 !important;
}

.alphabet:active {
  transform: scale(1.5) translateY(-5px);
  -webkit-transform: scale(1.5) translateY(-5px);
  -moz-transform: scale(1.5) translateY(-5px);
  background-color: white;
  z-index: 10 !important;
}

.alphabet:focus {
  transform: scale(1.5) translateY(-5px);
  -webkit-transform: scale(1.5) translateY(-5px);
  -moz-transform: scale(1.5) translateY(-5px);
  background-color: white;
  z-index: 10 !important;
}

.elem {
  display: flex;
  flex-direction: row;
  cursor: pointer; 
  cursor: hand;
}

.elem-gen {
  height: 90px;
  width: 90px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.elem-guess {
  height: 90px;
  flex: 1;
}

.elem-gen-text {
  line-height: 68px;
  flex: 1;
  font-size: 50px;
}

.elem-guess-text {
  line-height: 100px;
  font-size: 2.25em;
}

/*Animations*/
@keyframes close-cover {
  from {
    height: 0px;
  }
  to {
    height: 232px;
  }
}
@-webkit-keyframes close-cover {
  from {
    height: 0px;
  }
  to {
    height: 232px;
  }
}
@-moz-keyframes close-cover {
  from {
    height: 0px;
  }
  to {
    height: 232px;
  }
}

@keyframes open-cover {
  from {
    height:232px;
  }
  to {
    height: 0px;
  }
}
@-webkit-keyframes open-cover {
  from {
    height:232px;
  }
  to {
    height: 0px;
  }
}
@-moz-keyframes open-cover {
  from {
    height:232px;
  }
  to {
    height: 0px;
  }
}

@keyframes radiate {
  from { box-shadow:0px 0px 10px 3px #7FFF00; }
  to { box-shadow:0px 0px 20px 5px #7FFF00; }
}
